# NEXT_PUBLIC_BASE_URL=https://api.zefast.net/
# NEXT_PUBLIC_APP_NAME="Zefast Admin"
# NEXT_PUBLIC_APP_TITLE="Tableau de Bord Admin Zefast"
# NEXT_PUBLIC_APP_DESCRIPTION="Tableau de bord administrateur pour la plateforme Zefast"
# NEXT_PUBLIC_PRIMARY_COLOR="oklch(0.62 0.21 35)"
# NEXT_PUBLIC_ACCENT_COLOR="oklch(0.68 0.23 35)"
# NEXT_PUBLIC_APP_LOGO_URL="/logo.png"

NEXT_PUBLIC_BASE_URL=https://api.zefast.net/
NEXT_PUBLIC_APP_NAME="Icash Admin"
NEXT_PUBLIC_APP_TITLE="Tableau de Bord Admin Icash"
NEXT_PUBLIC_APP_DESCRIPTION="Tableau de bord administrateur pour la plateforme Icash"
NEXT_PUBLIC_PRIMARY_COLOR="oklch(0.65 0.2 60)"
NEXT_PUBLIC_ACCENT_COLOR="oklch(0.75 0.2 70)"
NEXT_PUBLIC_APP_LOGO_URL="/icash.jpeg"